{% extends 'base.html.twig' %}

{% block title %}CYCLOPS - Economic and Financial Crises API{% endblock %}

{% block body %}
    <div class="container" {{ vue_component('Home', {}) }}></div>
{% endblock %}
