networks:
  cyclops_network:
    driver: bridge

services:
  mysql:
    image: mysql:8.0
    container_name: cyclops_test_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cyclops_dev
      MYSQL_TEST_DATABASE: cyclops_test
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306" # Changed host port to 3307 to avoid conflicts
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - cyclops_network

  php:
    image: cyclops-php:8.4
    container_name: cyclops_php
    depends_on:
      mysql:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      APP_SECRET: change_me_please
      DATABASE_URL: mysql://user:password@mysql:3306/cyclops_dev?serverVersion=8.0&charset=utf8mb4
      DATABASE_TEST_URL: mysql://user:password@mysql:3306/cyclops_test?serverVersion=8.0&charset=utf8mb4
    volumes:
      - .:/var/www/html
      - cache-dev:/var/www/html/var/cache/dev
    user: "0:0"
    command: ["/bin/sh", "-c", "mkdir -p var/cache var/log && chmod -R 777 var/cache var/log && php-fpm -F"]
    networks:
      - cyclops_network

  nginx:
    image: nginx:alpine
    container_name: cyclops_nginx
    depends_on:
      - php
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - cyclops_network

volumes:
  mysql_data:
    driver: local
  cache-dev:
    driver: local
    driver_opts:
      type: none
      device: ./var/cache/dev
      o: bind
